.racer_table td {
  background-color: white;
  border-right: 1px solid black;
  height: 20px;
  width: 20px;
  border-bottom: 1px solid black;
}

.racer_table td.active {
  background-color: black;
}

.countdown {
  display: none;
}

#track {
  display: none;
}

#new_game {
  display: none;
}

