<div class="player-form">
  <form action="/" method="POST"> 
    <label for="player1">Player 1:</label>
    <input type="text" name="player1"><br />
    <label for="player2">Player 2:</label>
    <input type="text" name="player2"><br>
    <label for="length">Track Length:</label>
    <input type="text" name="length"><br>
    <input type="submit" id="start-button" value="RACE">
  </form>
</div> 

<div id="track">
  <table class="racer_table">
    <tr id="player1_strip">
      <td id="player1"></td>
    </tr>
    <tr id="player2_strip">
     <td id='player2'></td>
    </tr>
  </table>
  <button id="start">START RACE!</button>
</div>

<div id="new_game">
  <button href='/'>PLAY A NEW GAME!</button>
</div>



